html {

}

p {
	font-family: "Helvetica", sans-sarif;
	border: 1px solid navy;
	border-radius: 6px
}

span.cite {
	border: 1px solid navy;
	color: white;
	font-size: 85%
	background-color:navy;
	border-top-left-radius: 6px
	border-bottom-left-radius: 6px
}
