html {
	font-family: "Oswald", Oswald;
	border: 10px solid green;
	border-radius: 6px;
}

h2 {
	font-size: 30pt;
	text-align: center;
	font-family: "Impact", Impact;
}


p {
	font: Oswald
}

span.cite {

}
